header{    
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    height: 60px;    
}

.dsmovie-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.dsmovie-nav-content h1{
    margin: 0;
    font-weight: 700;
}


.dsmovie-contact-container{
    display: flex;
    color: #fff;
    align-items: center;
}

.dsmovie-contact-link{
    margin: 0 0 0 10px;
    font-size: 12px;
}